@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<video id="background-video" autoplay loop muted poster="vids/starsvid.mp4">
    <source src="vids/starsvid.mp4" " type="video/mp4">
</video>


<div class="text-center">
    <h1 class="display-4">
        Welcome to my page!<br>
        This is one of my favorite music videos.
    </h1>
</div>

<div>
    <center>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lAwYodrBr2Q"
                title="YouTube video player" frameborder="1"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </center>
</div>


<div>
    <div class="bg_heart"></div>
</div>